@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Note tailwind doesn't support color coding [color] with hsl or rgb.  Only hexadecimal coding allowed for colors */
  --bg-color: #453393;
}

html,
body {
  scroll-behavior: smooth;
}

.nottranslated {
  transition: transform;
  --webkit-transition: transform;
  transform: translateX(100%);
  --webkit-transform: translateX(100%);
  width: 0;
}

.translated {
  transition: transform;
  --webkit-transition: transform;
  transform: translateX(0);
  --webkit-transform: translateX(0);
}
